<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="employee" class="model.Employee" />
	<bean id="employeeService" class="service.EmployeeService" />
	<bean id="employeeRepository" class="repository.EmployeeRepository" />

</beans>
