<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<bean id="assignmentRepository"
		class="repository.AssignmentRepository" />
	<bean id="bikeRepository" class="repository.BikeRepository" />
	<bean id="customerRepository"
		class="repository.CustomerRepository" />
	<bean id="historyRepository" class="repository.HistoryRepository" />
	<bean id="partsRepository" class="repository.PartsRepository" />
	<bean id="technicianRepository"
		class="repository.TechnicianRepository" />
	<bean id="requestRepository" class="repository.RequestRepository" />
</beans>